:root{
    --site-width: 98rem;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

<<<<<<< HEAD
body{
background: #f1f1f1;
=======
body {
  background: #F1F1F1;
>>>>>>> origin/master
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul {
    list-style: none;
    padding:0;
    margin:0;
}

a {
text-decoration:none;
}